*{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}



.button{
    background-color:#24a0ed;
    color: white;
    border-radius: 20px;
    border: 0px;
    width: 350px;
    height: 30px;
     display:grid;
    justify-self: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

